@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* CSS Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
	font-size: 16px;
}

body {
	min-height: 100vh;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Layout */

body {
	font-family: "Roboto", sans-serif;
	display: grid;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	border: 2px solid green;
}

main {
	display: flex;
	flex-direction: column;
	min-width: 30vw;
	min-height: 80vh;
	padding: 1.5rem;
}

form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 2rem;
}

form input {
	flex-grow: 1;
	padding: 0.5rem 1.25rem;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem 0 0 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form input[type="text"]:focus {
	outline: none;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

form button {
	display: inline-block;
	padding: 0.5rem 1.25rem;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #4caf50;
	border-radius: 0 0.25rem 0.25rem 0;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

form button:hover {
	background-color: #3e8e41;
}

ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	padding: 0.1rem;
	border-radius: 4px;
	outline: black solid 1px;
}

ul li div {
	display: flex;
	justify-content: space-between;
	flex-basis: 20%;
	flex-shrink: 1;
}

/* Styles */

.list-title {
	margin-top: 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

#finished-list li span {
	text-decoration: line-through;
}

#unfinished-list button,
#finished-list button {
	padding: 0.5rem 1.25rem;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

button:has(i.fa-check) {
	margin-right: 1rem;
	color: white;
	background-color: #4caf50;
}

button:has(i.fa-trash) {
	background-color: lightgray;
}

button:has(i.fa-x) {
	margin-right: 1rem;
	color: white;
	background-color: tomato;
}

i {
	font-size: 1.2rem;
}

@media only screen and (max-width: 462px) {
	form input {
		width: 100%;
		border-radius: 0.25rem;
	}

	form button {
		margin-top: 1.2rem;
		padding: 0.75rem 1.25rem;
		font-size: 1.2rem;
		width: 100%;
		border-radius: 0.25rem;
	}
}
